h0{
    font-size: 45px;
margin-left: 425px;
position:fixed;
margin-bottom: 0px;
background-color: rgba(17, 243, 243, 0.356);
}
@media only screen and (max-width: 800px){
    h0{
        margin-left: 50px;
    }
}
body{
    background-color: rgb(255, 253, 253);
}
h1{
    text-align: left;
    padding: 55px;
    position: relative;
    color:rgb(8, 250, 8);
    font-family: cursive;
}
p{
margin-left: 25px;
font-size: 1.2em;
font-family: Open Sans;
font-weight: bolder;
color: rgb(85, 77, 2);

}
ul{
    margin-left: 95px;
    font-size: 20px ;
    font-family: Titillium Web;
    font-weight: bold;
    color:rgb(95, 95, 99);
}
span{
    font-size: 25px;
    margin-left: 35px;
    color: rgb(85, 77, 2);
    font-family: Titillium Web;
}
article{
    margin-left: 75px;
    font-size: 20px ;
    font-family: Titillium Web;
    font-weight: bold;
    color: rgb(85, 77, 2);
}
line{
    margin-left: 65px;
}
aside{
    margin-left: 65px;
    padding: 0;
    font-size: 20px;
    color: rgb(85, 77, 2);
}
line{
    font-size: 25px;
    font-family: Titillium Web;
    font-weight: 600;
    color: rgb(85, 77, 2);
}