h0{
    font-size: 45px;
margin-left: 425px;
position:fixed;
margin-bottom: 0px;
background-color: aqua;
}
@media only screen and (max-width: 800px){
    h0{
        margin-left: 50px;
    }
}
body{
    background-color: lemonchiffon;
}
h1{
    text-align: left;
    padding: 65px;
    position: relative;
    color:lightgreen;
    font-family: cursive;
}
p{
margin-left: 65px;
font-size: 1.2em;
font-family: Open Sans;
font-weight: bolder;
}
ul{
    margin-left: 95px;
    font-size: 35px ;
    font-family: Titillium Web;
    font-weight: bold;
}
span{
    font-size: 5px;
    margin-left: 35px;
    font-weight: bold;
}
article{
    margin-left: 75px;
}
line{
    margin-left: 65px;
}
aside{
    margin-left: 65px;
    padding: 0;
}
