
.navigation{
    color:black;
    font-weight: lighter;
    font-size: 35px;
    text-align:center;
    margin:0px 0px;
    padding: 0px 0px;

}
.navigation ul.logo{
    color: blueviolet;
    font-size: 35px;
    font-weight: 700;
margin:0px 0px;
padding: 0px 0px;
  }
#banner{
    background-image: url("pexels-photo-1034662.jpeg");
   background-position: top center;
   background-size: contain;
   height:550px;
   widows: 100%;;
   background-repeat: no-repeat;
   margin: 0px;
   padding: 0px;
}
.article{
    font-size: 75px;
text-align: center;
margin-top: 0;
padding-top: 0px;

}