h1{
    text-align: center;
    font-size: 45px;
    padding: 20px;
}
p{
    font-size: 25px;
    line-height: 45px;
    font-family: sans-serif;
}
img {
    max-width: 100%;
    display: flex;
    height: auto;
    margin: 0 auto;
    padding-top: 45px;
   }
  
 
  
  @media (max-width: 460px) {
  img {
        height: auto;
    }
  }
  