/*jan 26 FAQs part start*/
h708{
color:crimson;
font-size: 45px;
border: px solid;
margin-left: 500px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
.flex-box{
    border: px solid orange;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    justify-content:space-evenly;
    margin: 45px 0px;
    cursor: pointer;
   
}

.flex001{
    border: px solid red;
    height: 500px;
    width: 500px;

}
h123{
    padding: 5px;
    color:rgb(0, 0, 0);
    font-size: 35px;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p708{
   font-size: 15px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   opacity: 0.4;
   padding: 10px;
}
#join1{
    text-transform: uppercase;
    border: 2px solid;
    font-size: 15px;
    width: 45%;
    height: 45px;
    color:white;
    background-color: crimson;
    cursor: pointer;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    opacity: 0.8;
  }

.flex002{
    border:px solid blue;
    height: 510px;
    width: 600px;
    cursor: pointer; 
}
h154{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 10px;
font-size: 17px;

}
.p55{
    text-transform: capitalize;
    font-size: 15px;
    background-color: rgba(252, 162, 152, 0.247);
    opacity: 0.5;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.askme{
    text-decoration: none;
    cursor: pointer;
   float: right;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: 700;
}