
img{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
max-width: 100%;
}
@Media(max-width: 400px){
    .img{
      max-width: 100%;
    }
}
@media(max-width:400px){
    .video{
        max-width: 100%;
    }
}