
  .header{
    background-color: rgba(5, 213, 250, 0.993);
    border:5px solid red;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .menu{
    background-color:rgb(30, 235, 30);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.C{
    background-color:rgb(255, 12, 255);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}