.headings{
    font-size: 35px;
    background-color: aqua;
    line-height: 3em;
    font-family:cursive;
    
}

.a{
    text-decoration: none;
}
 li{
     display: inline-block;
     margin-left: 8em;
     
 }
   img{
       height: auto;
       max-width: 100%;
   }
  
  p{
      font-size: 2em;
  }
  
  h1{
      font-size: 75px;
  }
  
  
  