* {
    box-sizing: border-box  ;
}
.flex-container{
    display: flex;
    background-color: rgb(0, 255, 221);
    flex-wrap: wrap;
    font-size: 50px;
    text-align: center;
}
.flex-items-left{
    display:flex;
    font-size: 35px;
    flex: 50%;
    color:rgb(8, 8, 8);
    padding: 10px;
    background-color: palegreen;

}
.flex-items-right{
    display:flex;
    font-size: 35px;
    flex: 50%;
padding:10px;
    color:white;
    background-color: pink;

}
@media (max-width: 800px){
    .flex-items-left,.flex-items-right{
        flex: 100%}
}
