body{
   background-image: url("https://scontent.fbir2-1.fna.fbcdn.net/v/t1.0-9/125762920_3023536597873954_5023565475812970788_o.jpg?_nc_cat=110&ccb=2&_nc_sid=730e14&_nc_ohc=B0iv_l0HQgUAX_SCfIZ&_nc_ht=scontent.fbir2-1.fna&oh=7065faaf95f60f2cf5f6aea77d09f45b&oe=6021BBA4"); 
color: white;
}
@media (max-width: 400px){
    body{
    color: white;
    }
}
h1{
text-align: center;
}
.grid-container{
    display: grid;
    border: 2px solid black;
    margin-top: 165px;
    margin-left: 56px;
}