html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*above are the default css rules*/
h1{
    font-size: 1em;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    background: rgba(105, 4, 0, 0.021);
    line-height: 2em;
    color:white;
    text-transform: lowercase;
}

.navheader{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
/*for mobile phones*/
@media only screen and (max-width: 600px){
    h1{
     font-size: 10px;  
     background: rgb(255, 4, 4); 
    }
}

/*for desktop*/
@media only screen and (min-width: 1025px){
    h1{
        font-size: 1em;
        background: rgb(255, 0, 0);
    }
}
/*for tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px){
    h1{
        font-size: 5px;
        background: rgb(255, 125, 3);

    }
}

.header-flex{
	display: flex;
	border: px solid;
	justify-content: left;
	background: rgb(0, 0, 0);
	cursor: pointer;
}

.flex0{
	background: rgb(0, 0, 0);
	color:white;
	font-size: 2em;
	border: px solid;
	flex-grow: auto;
}
@media only screen and (max-width: 600px){
    .flex0 img{
      height: 35px;
      border:px solid;
      padding: 0px;
      margin-top: 10px;
    }
}
@media only screen and (min-width: 1025px){
    .flex0 img{
      height: auto;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 601px){
    .flex0 img{
      height: 40px;
    }
}

.flexsearchbar{
	background: rgb(0, 0, 0);
	color:white;
	font-size: 2em;
	border: px solid;
	flex-grow: auto;
}

input{
	border: 0px solid red;
	width: 80%;
	background: white;
	color: rgb(0, 0, 0);
	font-size: 20px;
	float:left;
	margin-top: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}

@media only screen and (max-width: 600px){
    input{
        margin-top: 20px;
        padding: 0px;
        font-size: 5px;
        color:rgb(12, 12, 12);
        width: 65%;
        border: px solid rgb(243, 24, 24);
   
    }
}

.sbtn{
	font-size: 22px;
	background: #f89500;
	color: white;
	border: 0px solid rgb(2, 2, 2);
	cursor: pointer;
    margin-top: 9px;	   
}

@media only screen and (max-width: 600px){
    .sbtn{
        font-size: 4px;
        background: #f89500;
        color: white;
        border: px solid grey;
        cursor: pointer;
        margin-top: 0px;	
        flex-grow: 8;
  }
}


.flexshop{
	color:white;
	font-size: 2em;
	border: px solid;
	flex-grow: 8;
	text-align: center;
}

.shop{
	color:rgb(248, 247, 247);
	height: 2em;
	font-size: 0.5em;
	font-weight: lighter;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px){
    .flexshop{
        color:white;
        border: px solid;
        flex-grow: 8;
    }}
    @media only screen and (max-width: 600px){
        .shop{
            text-transform: lowercase;
            text-align: left;
            margin-top: 14px;
            padding: 0px;
            border: px solid;
            color:rgb(248, 247, 247);
            font-size: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }}
        @media only screen and (max-width: 600px){
            .opt{
                float: right;
                margin: 0px;
                padding: 0px;
                font-size: 5px;
                width: 20px;
                border: 0px solid;
            }}

.flexsignup{
	color:white;
	font-size: 2em;
	border: px solid;
	flex-grow: auto;
	text-align: center;
}

.register{
	flex-grow: 9;
	color:rgb(248, 247, 247);
	height: 2em;
	font-size: 0.5em;
	font-weight: lighter;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 600px){
    .flexsignup{
        margin-top: 17px;
        color:white;
        font-size: 10px;
        border: px solid;
        flex-grow: auto;
        text-align: center;
        flex-grow: 8;
    }}
@media only screen and (max-width: 600px){
    .register{
    
        border: px solid;
        color:rgb(248, 247, 247);
        font-size: 10px;
        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-grow: 8;
    }}

.flexcall{
	font-size: 1em;
	color:white;
	border: px solid;
	flex-grow: 5;
	text-align: center;
	padding: 5px;
	font-family:'Courier New', Courier, monospace;
	font-weight: lighter;
}

@media only screen and (max-width: 600px){
    .flexcall{
        margin-top: 14px;
        font-size: 0.5em;
        color:white;
        border: px solid;
        flex-grow: 5;
        font-family:'Courier New', Courier, monospace;
        font-weight: lighter;
        flex-grow: 8;
    }}

.flexcart{
	color:white;
	font-size: 1em;
	flex-grow: 1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	float:left;
	font-weight: lighter;
}

#bid{
color:rgb(255, 115, 0);
font-family: Verdana, Geneva, Tahoma, sans-serif;
float: center;
font-size: 18px;
font-weight: lighter;
}
  
@media only screen and (max-width: 600px){    
.flexcart{
	color:white;
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	float:left;
    font-weight: bolder;
    flex-grow: 8;
}}
@media only screen and (max-width: 600px){  
    #bid{
    color:rgb(255, 115, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    font-size: 8px;
    font-weight: lighter;
    }}
 
