html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*above are the default css rules*/
.banner{
	width: 100%;
	height: 300px;
	padding: 30px;
}
@media only screen and (max-width: 600px){
	.banner{
		height: 100px;
		padding: 10px;
		width: 100%;
		margin: 0px;
	}
}

.grid-container{
	display: grid;
	border: px solid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	padding: 30px;
	height: auto;
    width: auto;
  
}

.top{
	font-size: 2rem;
	background-color: rgb(47, 0, 255);
	border: 2px solid;
	text-align: center;
	height: 300px;
	width: 320px;
}
@media only screen and (max-width: 600px){
.grid-container{
	display: grid;
	border: px solid;
	grid-template-columns: 65px 65px 65px 25px;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding: 10px;
	height: auto;
	width: auto;
	margin: 0 8px;
}
}
@media only screen and (max-width: 600px){
	.top{
		font-size: 2rem;
		background-color: rgb(47, 0, 255);
		border: px solid;
		text-align: center;
		height: 100px;
		width: 90px;
		color:rgb(255, 0, 0);
	}}

.mid{
	background-color: rgb(230, 255, 2);
	border: px solid;
	text-align: center;
	font-size: 2rem;
	height: 300px;
	width: 320px;
}
@media only screen and (max-width: 600px){
	.mid{
	background-color: rgb(230, 255, 2);
	border: 2px solid;
	text-align: center;
	font-size: 2rem;
	height: 100px;
	width: 90px;
	color:Red;
}}

.grid-container2{
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	display: grid;
	border: px solid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 30px;
	height: auto;
	width: 100%;
}
@media only screen and (max-width: 600px){
.grid-container2{
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	display: grid;
	border: px solid;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	padding: 10px;
	height: auto;
	width: 100%;
}}

.btnleft{
	background-color: rgb(31, 36, 29);
	border: 2px solid;
	text-align: center;
	font-size: 2rem;	
	height: 600px;
}
@media only screen and (max-width: 600px){
	.btnleft{
		background-color: rgb(31, 36, 29);
		border: 0px solid;
		text-align: center;
		font-size: 2rem;	
		height: 205px;
		color:red;
	}}

.grid-container3{
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	display: grid;
	border: 2px solid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 0px;
	height: auto;
	width: auto;
}
@media only screen and (max-width: 600px){
	.grid-container3{
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		display: grid;
		border: 0px solid;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		padding: 0px;
		height: auto;
		width: auto;
	}}

.btm1{
	height: 300px;
	border: 2px solid;
	background-color: rgb(67, 255, 5);
}
.btm2{
	height: 300px;
	border: 2px solid;
	background-color: rgb(101, 5, 255);

}

.btm3{
	height: 280px;
	border: 2px solid;
	background-color: rgb(255, 105, 5);
}
.btm4{
	height: 280px;
	border: 2px solid;
	background-color: rgb(255, 5, 5);
}
@media only screen and (max-width: 600px){
	.btm1,.btm2,.btm3,.btm4{
    height: 100px;
	}}
