header{
    color:rebeccapurple;
    font-size: 110px;
    text-align: center;
    background-color:white;
    padding:auto;
    margin: auto;
    border: 2px solid black;
}
.color {
 margin: auto;
 padding: auto;   
}
h1{
    background: sienna;
}
h2{
    background: darkseagreen;
    font-size: xx-large;
}
h3{
    background: aqua;
    font-size: xx-large;
}
h4{
    background:rgb(0, 128, 17);
    font-size: xx-large;
}
h5{
    background: #bc8fb1;
    color: rgb(23, 45, 23);
font-size: xx-large;
}
h6{
    color: hsl(120 60% 70%);
    font-size:xx-large;
}
h7{
    color:hsla(34, 100%, 50%, 80%);
    font-size:xx-large;
}

h8{
 color:rgba(34, 100%, 50%, 0%);
    font-size:xx-large;
}
span{
   color: rgb(4, 0, 255);
   font-size: xx-large;
text-align: top right;
font-family: georgia;
}
#magic{
    border: 2px solid red;
    height:250px;
    width: 550px;
    position: top;
}