.left{
    color:red;
    font-family: cursive;
}
.right.ul{
    font-family: cursive;
    text-align: right;
    padding: auto;
    margin:auto;
}
header{
    color:rgb(101, 224, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:55px;
    text-align: center;
    font-weight: lighter;
}
#banner{
text-align: center;
height:115px;
width: 100%;
background-color:rgb(0, 255, 157);)
}
.line{
font-family:Arial, Helvetica, sans-serif;
font-size:45px;
font-weight: bolder;
color:rgba(255, 247, 247, 0.993);
}
article{
    font-family: sans-serif;
    font-size:xx-large;
    font-size:45px;
    color:rgba(35, 35, 240, 0.705);
}
.h1{
    margin-top:52px;
    margin-bottom:56px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

.fig1{
    display:inline-flex;
    background-color:rgb(255, 0, 0);
 justify-content: left;
 margin:auto;
 background-image: url("fg2.jpg");
 padding:auto;
 height: 570px;
 width:340px;
 font-size:85px;}
 P{
     text-align: bottom;
     margin-top: 580px;
     display: inline-block;
     height: 80px;
     width: unset;
     background-color: rgb(255, 4, 4);
     border: 2px solid red;
 }
 
 .fig2{
    display:inline-flex;
    background-color:rgb(255, 0, 0);
 justify-content: left;
 margin-left:135px;
 background-image: url("fg2.jpg");
 padding:auto;
 height: 470px;
 width:280px;
 font-size:85px; 
 flex-direction: column;
}
aside{
    display: inline-flex;
    background-color: red;
    justify-content: center;
    margin-left: 200px;
}

    .fig3{
        display:inline-flex;
        background-color:rgb(255, 0, 0);
     justify-content: right;
     margin-left:400px;
     margin-top:0px;
     margin-bottom: 0px;
     margin-right:auto;
     background-image: url("fg2.jpg");
     padding:auto;
     height: 970px;
     width:340px;
     font-size:85px; 
     flex-direction: column;
    }

  