li{
  display: inline;
}
a{
  
}

.a1{
  text-decoration: none;
  font-size: 35px;
  margin-left: 50px;
  font-weight: 950;
  color:rgb(255, 0, 221);
  font-family: 'Roboto', sans-serif;
}
.b{
  text-decoration: none;
  font-size: 20px;
  margin-left: 300px;
  font-family: 'Montserrat', sans-serif;
}
.c{
  text-decoration: none;
  margin-left: 50px;
}
.headings2{
  font-size: 25px;
margin-top: 50px;
background-color: aquamarine;
}
.a2{
  padding: 30px;
}
.headings3{
  background: url("https://i.ytimg.com/vi/Lg0rxW0tt0I/maxresdefault.jpg");
  height: 500px;
  width: 1245px;
  margin-top: 20px;
}
h1{
  color:rgb(0, 255, 255);
padding-top: 80px;
margin-left: 50px;
margin-top: 0px;

}
.group1{
  margin-top: 50px;
}
p{
  size: 10px;
  color:rgb(255, 0, 0);
  text-transform: capitalize;
  margin-left: 50px;
  margin-top: 0px;
  font-size: 22px;
  margin-right: 0px;

}
aside{
  text-transform: uppercase;
  color:rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid crimson;
  width:15%;
  text-align: center;
  padding: 20px;
  background-color: rgb(2, 2, 2);
  margin-left: 50px;
  margin-top: 50px;

}
aside:hover{
  background-color:crimson;
}
article{
  font-size: 10px;
  color:rgb(255, 0, 0);
  opacity: 0.3;
  margin-top: 20px;
  margin-left: 35px;
}
h2{
  text-align:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:crimson;
}
.grid-container1{
  border: 2px solid black;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.grid-container2{
  border: 2px solid black;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 20px;
}
h3{
  text-align:center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:crimson;
}
.grid-container3{
  border: 2px solid black;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-top: 20px;
}
.grid-container4{
  border: 2px solid black;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  margin-top: 20px;
}
h4{
  font-size: 25px;
  color:crimson;
}
.fig1{
  margin-left: 50px;
}

.grid-container5{
  border: 2px solid red;
  height: 155px;
  width: 1240px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  margin-top: 20px;
  background: url("f.jpg");
}

H5{
  color: crimson;
  font-size: 900;
  font-size: 35px;
  margin-top: 0px;
}
h6{
  color: crimson;
  font-weight: 900;
  font-size: 35px;
  margin-top: 50px;
}
h7{
  color: crimson;
  font-weight: 900;
  font-size: 35px;
  margin-top: 50px;
}
.grid-container6{
  border: 2px solid red;
  height: 455px;
  width: 1240px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  margin-top: 20px;
}
h8{
  color: crimson;
  font-weight: 900;
  font-size: 35px;
  margin-top: 50px;
}
.grid-container7{
  border: 2px solid red;
  height: 455px;
  width: 1240px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  margin-top: 20px;
}
.grid-container8{
  border: 2px solid red;
  height: 455px;
  width: 1240px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  margin-top: 20px;
  background-color: darkblue;
}

