.flexy{
    border: 2px solid;
    display: grid;
    height: auto;
    width: auto;
    justify-content:left;
  
}
.dropbox{
    font-size: 25px;
    color:red;
    margin: 15px;
}
.ico{
    border: 1px solid;
}
.drop{
    margin: 2px;
    padding: 5px;
    border: 2 solid blue;
    font-size: 20px;
}


