
/*jan 25 slider part start*/
*{
  margin: 0;
  padding: 0;
}
h20{
  border: px solid blue;
margin-bottom: 150px;
margin-left: 400px;
padding: 20px;
font-size: 45px;
color:crimson;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h21{
color:rgb(252, 252, 252);
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*this is slide behind the bg that means bg image is laying on surface of it*/
.slider1{
  display: grid;
  border: 1=px solid rgb(235, 9, 9);
  grid-template-columns: auto auto auto auto; 
width: auto;
height: auto;
margin-top: 30px;
}
/*this is slide laying on slide1 as bg image*/
.slider{
  display: grid;
  border: 1=px solid rgb(235, 9, 9);
  grid-template-columns: auto auto auto auto; 
 background: url("https://lh3.googleusercontent.com/EeCHBFmDmj6k26UGvD-ejsUGO8kqDEQwq3R9MOIgUS8LZG4LJapPFMMPT_LnkkdmN769gtNcdISxn4TDOriK9gT70wPbFSV_vByNnLqMGAD-GiIuALEGtPEquqt5lcUG6FAgS1l-lQ0U1LsYvMOVQtPwAWBMWZp-ygj8EYe05jGjmaClCZDWNpvO_SzB0hV953ArwRgv7xutMf_9LP33pR6h3XCL8PTMLmPW6M0i0TXgisUjmQ75chhVS18hiUUUVFll-h0juQpctk5rsuTbvXW5zgcR78GyZLMmxxl7aZiR5aWq6l0YYyQtihixsQ5Von8rkbv1PO170yjvCMkRw5FsCdR-oltObCv6y1B34C7b83yG3k9JcdCxPNJ58jIlANrPWY09g9CX1i2YzHQm6Dqh4oZoU7iiGeJxbJ52Ss6GycFPzbSToCGEz-I4KIe9Wj63LcyHQLXIFvAXhmUK_Xyp8LepIKlXx421Q4IlCAmpUksTeeEVBEA1FE9jX8VYOgodB4hoka8jYFjJqLElscp_tazDjVxIu7SCvRJluz_ajNE0GVk4jbTdBTRiCPgbZvWu3iDj52ZNoEs56kSqZ5MaSvFAxp1SfPntPUU-D9alRJGEeBdLx4o8z9nbu4_I1C8W7o-btx3arpDnrsEm2qimXrYSdycG_2Rcxq2JktfqxvWgND2JlNyoYBnV=s568-no?authuser=0");
 background-repeat:no-repeat;
width: auto;
height: auto;
margin-top: 0px;
}

.image,.image2, .image3 {
position: relative;
margin: 0;
left: 0;
animation: 10s slider infinite;
  border: px solid blue;
width: auto;
height: 300px;
justify-content: space-evenly;

}

@keyframes slider {
0% {
  left: 0;
}
20% {
  left: 0;
}
25% {
  left: -100%;
}
45% {
  left: -50%;
}
50% {
  left: -50%;
}
70% {
  left: -200%;
}
75% {
  left: 100%;
}
95% {
  left: 300%;
}
100% {
  left: 400%;
}
}

/*jan24 poster part*/
li{
  text-decoration: none;
     }
  h1{
    text-transform: uppercase;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    color:crimson;
  }
  .grid-container1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height:  auto;
    width: auto;
    float: center;
  
  }
  article{
    color:white;
  }
  .items1{
    display: inline;
    border: px solid rgb(0, 0, 0);
    height:  200px;
    width: 250px;
    margin-left: 80px;
  }
  
  .items2{
    display: inline;
    border: px solid rgb(6, 1, 14);
    height:  200px;
    width: 250px; 
  }
  .items3{
    display: inline;
    border: px solid rgb(9, 1, 82);
    height:  200px;
    width: 250px;
  }
  .items4{
    display: inline;
    border: px solid rgb(24, 24, 23);
    height: 200px;
    width: 250px;
    margin-right: 150px;
  }
  .grid-box{
    border: px solid;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .head{
    border: 0px solid rgb(7, 7, 7);
     width: auto;
    height:auto;
  } 
  
  .poster{
    border: px solid rgb(7, 7, 7);
    display: inline;
    width: auto;
    height: auto;
    float: right;
  }
  h2{
    margin-left:80px;
    font-family: 'Rubik', sans-serif;
  }
  p{
  color:rgb(37, 17, 17); 
  margin-left:80px;  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  opacity: 0.65;
  }
  .span1{
    color:crimson;
    font-size: 55px;
  }
  ul{
    margin-left: 80px;
  }
  li{
    color:crimson; 
     font-size: 20px;
  }
  .aside{
    color:rgb(0, 0, 0);
    font-family: 'Inconsolata', monospace;
    opacity: 0.85;
  }
  .sidehead{
    border: 0px solid rgb(7, 7, 7);
    margin-top: 200px;
    text-align: left;
  } 
  
  #join{
    text-transform: uppercase;
    border: 2px solid;
    font-size: 15px;
    width: 45%;
    height: 45px;
    color:white;
    background-color: crimson;
    cursor: pointer;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
/*jan23 foot & form part*/
.grid-container10{
    height:auto;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
}
.items10{
      border: px solid rgb(14, 14, 14);
      display: inline;
      height:auto;
      width: 450px;
      margin-top: 200px;
  
}
.items12{
    display: inline;
    border: 0px solid rgb(5, 5, 5);
    height:auto;
    width: 800px;
    margin: 0px;
}

span{
  font-size: 15px;
  margin-left: 75px; 
  color: crimson;
  margin-bottom: 0px;
  font-family:sans-serif;
}

.sus{
  font-size: 22px;
  margin-left: 65px;
  margin-top: 0px;
  font-family:sans-serif;
}

form{
  margin-left: 10px;
}

button{
  height:auto;
  width: auto;
  cursor: pointer;
  background-color:rgba(31, 224, 31, 0.425);
}

h11{
  color:rgb(2, 2, 2);
   font-size: 28px;
   font-weight: 800;
   margin-left: 75px;
   margin-top: 50px;
   font-family:sans-serif; 
   margin-bottom: 0px;
}

h12{
margin-top: 30px;
margin-left: 300px;
color:crimson;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 700;
text-transform: uppercase;
}

.name{
  float:left;
  font-size: 25px;
  font-family:sans-serif;
 
}
.namebox{
float:left;
font-size: 25px;
font-family:sans-serif;
}
.email{
font-size:25px;
margin-left: 370px;
font-family:sans-serif;
}
.emailbox{
  font-size: 25px;
  margin-top: 0px;
  margin-left: 100px;
  font-family:sans-serif;
}
.subject{
  float: left;
  font-size: 25px;
  font-family:sans-serif;
}
.subjectbox{
  float:left ;
  font-size: 25px;
  font-family:sans-serif;
}
.message{
  float:left ;
  font-size: 25px;
  font-family:sans-serif;
}
.messagebox{
  float:left ;
  font-size: 25px;
  font-family:sans-serif;
}
.submit{
  margin-left: 350px;
height: 40px;
width: 125px;
cursor: pointer;
background-color: rgb(38, 240, 129);
font-family:sans-serif;
}
.submit:hover{
  background-color: rgb(199, 14, 255);
}

/*foot section*/
.foot1{
  margin-top:10px;
  grid-template-columns: auto auto auto;
  height: auto;
  width: auto;
  display: inline-flex;
  background: black;
  cursor: pointer;
  flex: 50%;
  border-bottom: 1px solid white;
}
.items13{
  font-size: 10px;
  border: px solid rgb(0, 0, 0);
  color:white;
  height: auto;
  width: auto;
  margin-top: 5px;
  margin-left: 150px;
  font-family:sans-serif;
  flex: 50%;
}
.items14{
  font-size:10px;
  color:white;
  height: auto;
  width:auto;
  font-family:sans-serif;
  flex: 50%;
  margin-left: 50px;
}
.items15{
  font-size: 10px;
  color:white;
  height: auto;
  width: auto;
  font-family:sans-serif;
  flex: 50%;
  margin-left: 50px;
}
.items16{
  font-size: 10px;
  color:white;
  height: auto;
  width: auto;
  font-family:sans-serif;
  flex: 50%;
  margin-left: 50px;
  margin-right: 150px;
}
h13{
  font-size: 20px;
  font-family:sans-serif;
}

.p16{
  opacity: 0.7;
  color:white;
  cursor: pointer;
  line-height: 25px;
  margin-top: 25px;
  font-size:15px;
  font-family:sans-serif;
}

.mailicon{
  margin-top: 10px;
  margin-left: 0px;
}
/*last*/
.flex-box2{
  grid-template-columns: auto auto auto;
  height:auto;
  width: auto;
  display: inline-flex;
  background-color: black;
  cursor: pointer;
  margin: 0px;

}
h17{
  color:white;
 font-size: 12px;
 margin-top: 20px;
 opacity: 0.8;
}
span{
  color:red;
  margin: 0px;
}
.fig12{
 margin-left: 850px;
 margin-top: 10px;
 opacity: 0.7;
 margin-bottom: 20px;
}
.fig13{
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.fig14{
  margin-left: 30px;
  margin-top: 10px;
  opacity: 0.7;
  margin-bottom: 20px;
}
.fig15{
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  opacity: 0.7;
}

