*{
    margin: 0;
    padding: 0;
}
h20{
    border: px solid blue;
  margin-bottom: 150px;
  margin-left: 400px;
  padding: 20px;
  font-size: 45px;
  color:crimson;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h21{
	color:rgb(252, 252, 252);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*this is slide behind the bg that means bg image is laying on surface of it*/
.slider1{
    display: grid;
    border: 1=px solid rgb(235, 9, 9);
    grid-template-columns: auto auto auto auto; 
  width: auto;
  height: auto;
  margin-top: 30px;
}
/*this is slide laying on slide1 as bg image*/
.slider{
    display: grid;
    border: 1=px solid rgb(235, 9, 9);
    grid-template-columns: auto auto auto auto; 
   background: url("https://lh3.googleusercontent.com/EeCHBFmDmj6k26UGvD-ejsUGO8kqDEQwq3R9MOIgUS8LZG4LJapPFMMPT_LnkkdmN769gtNcdISxn4TDOriK9gT70wPbFSV_vByNnLqMGAD-GiIuALEGtPEquqt5lcUG6FAgS1l-lQ0U1LsYvMOVQtPwAWBMWZp-ygj8EYe05jGjmaClCZDWNpvO_SzB0hV953ArwRgv7xutMf_9LP33pR6h3XCL8PTMLmPW6M0i0TXgisUjmQ75chhVS18hiUUUVFll-h0juQpctk5rsuTbvXW5zgcR78GyZLMmxxl7aZiR5aWq6l0YYyQtihixsQ5Von8rkbv1PO170yjvCMkRw5FsCdR-oltObCv6y1B34C7b83yG3k9JcdCxPNJ58jIlANrPWY09g9CX1i2YzHQm6Dqh4oZoU7iiGeJxbJ52Ss6GycFPzbSToCGEz-I4KIe9Wj63LcyHQLXIFvAXhmUK_Xyp8LepIKlXx421Q4IlCAmpUksTeeEVBEA1FE9jX8VYOgodB4hoka8jYFjJqLElscp_tazDjVxIu7SCvRJluz_ajNE0GVk4jbTdBTRiCPgbZvWu3iDj52ZNoEs56kSqZ5MaSvFAxp1SfPntPUU-D9alRJGEeBdLx4o8z9nbu4_I1C8W7o-btx3arpDnrsEm2qimXrYSdycG_2Rcxq2JktfqxvWgND2JlNyoYBnV=s568-no?authuser=0");
   background-repeat:no-repeat;
  width: auto;
  height: auto;
  margin-top: 0px;
}

.image,.image2, .image3 {
	position: relative;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;
    border: px solid blue;
	width: auto;
	height: 500px;
	justify-content: space-evenly;

}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -50%;
	}
	50% {
		left: -50%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: 100%;
	}
	95% {
		left: 300%;
	}
	100% {
		left: 400%;
	}
}


