#highlights{
    text-align: center;
    font-size:52px;
    font-family:Helvetica;
    color:white;
    background-color: rgba(5, 253, 253, 0.959);
height:125px;
margin:auto;
padding:auto;
}


.flex-container1{
    display:flex;
   border: 2px #acc solid;
   display: flex;
   border: 2px rgb(5, 5, 5) solid;
   margin-bottom:95px;
}

.flex-items1{
    background-color: rgba(195, 0, 255, 0.39);
    height: 315px;
    width: 630px;
    font-size: 85px;
    text-align: center;
    display: flex;

}

.flex-items2{
    background-color: rgba(255, 2, 2, 0.644);
    height: 315px;
    width: 630px;
    font-size: 85px;
    text-align: center;
    display: flex;
}

.flex-container2{
    display:flex;
   border: 2px rgb(0, 5, 5) solid;
   margin-bottom:95px;
}

.flex-items3{
    display:flex;
    background-color: chocolate;
    height:315px;
    width:630px;
    font-size:85px;
}

.flex-items4{
    display:flex;
    background-color: rgb(238, 255, 5);
    height:315px;
    width:630px;
    font-size:85px;
}

.flex-container3{
    display:flex;
    border: 2px rgb(0, 5, 5) solid;
    margin-bottom:95px;
  
}
.flex-items5{
    display:flex;
    background-color: rgb(62, 50, 241);
    height:315px;
    width:630px;
    font-size:85px;
}
    .flex-items6{
        display:flex;
        background-color: rgb(14, 243, 212);
        height:315px;
        width:630px;
        font-size:85px;}
}






footer{
    text-align: center;
    font-size:52px;
    font-family:Helvetica;
    color:white;
    background-color: rgba(5, 253, 253, 0.959);
height:125px;
}