 li{
display: inline;

}

a{
  text-decoration: none;
}
.a1{
  font-size: 35px;
  margin-left: 50px;
}
.b{
  font-size: 20px;

  margin-left: 300px;
}
.c{
  margin-left: 50px;
}
.headings2{
  font-size: 25px;
margin-top: 50px;
background-color: aquamarine;
}
.a2{
  padding: 20px;
}
.headings3{
  background: url("https://i.ytimg.com/vi/Lg0rxW0tt0I/maxresdefault.jpg");
  height: 500px;
  width: 1250px;
}
h1{
  color:white;
padding-top: 80px;
margin-left: 50px;

}
p{
  size: 10px;
  color:white;
  text-transform: capitalize;
}
aside{
  text-transform: uppercase;
  color:white;
  size: 15px;
  border: 2px solid crimson;
  width:15%;
  text-align: center;
  padding: 20px;
  background-color:crimson;

}
span{
  font-size: 10px;
  color:white;
  opacity: 0.5;

}