
img{
    height: auto;
    max-width: 100%;
}
h1{
    color:rgb(0, 4, 252);
    font-size: 40px;
font-family:Serif;
}

body{
    background-color: rgba(255, 105, 180, 0.404);
}

p{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size:30px;
    color:rgb(4, 4, 240);
    font-family: Serif;
}
@media(max-width: 800px){
    img{
        max-width: 100%;
    }
}
@media(max-width: 800px){
    p{
       font-size: 15px;
    }
}
@media(max-width: 800px){
    h1, h2{
       font-size: 25px;
    }
}