@media only screen and (max-width: 600px){
    body{
        background-color: olivedrab;
    }
}


h1{
    color:white;
    font-size: 40px;
font-family:Serif;
}

body{
    background-color: hotpink;
}

p{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

article{
    font-size:35px;
    color:navy;
    font-family: Serif;
}