body{
    background-color: rgb(0, 0, 0);
}

.figure{
    border: 2px solid rgb(253, 0, 0);
    background-image: url("banner.jpg");
    text-align:top right;
    height:180px;
    max-width: 100%;
    margin:0 auto;
   
    background-repeat:round;
}
.header{
    text-align:center;
    font-size: 55px;
    background-color: rgb(221, 255, 96);
    
}
.content{
    text-align: center;
    margin:0 auto;
    font-size: 28px;
    color:rgb(255, 0, 200);
    word-spacing: 0.5em;
}
aside{
    font-size: 15px;
    text-align: right;
    color:blue;
}
#box{
    border: 5px solid rgb(37, 209, 3); 
    height:35px;
    widows: 100%;
}
.box1{
    border: 2px;
    height:25px;
    width:10%;
    float:left;
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    padding:auto;
    font-family:fantasy;
   
}
.box2{
    border: 2px;
    height:25px;
    float: right;
    text-align:center;
    font-size: 20px;
    margin:0 auto;
    padding:auto;
    font-family:fantasy;
}

.box3{
    border: 2px;
    height: 25px;
    widows: 15px;
    float: center right;
    text-align:center;
    font-size: 20px;
    margin: 0 auto;
    padding:auto;
    font-family:fantasy; 
}
@media (max-width: 400px){

}
