@media only screen and (min-height:0px){
body {
    background-image:url(boudha.jpg);
    background-repeat: no-repeat;
height:auto;
width:auto;
}}
  
.username{
    font-size:45px;
    color:red;
    padding-left: 445px;
 padding-top: 700px;
 
} 

.password{
    font-size:45px;
    color:rgb(243, 18, 18);
    padding-left: 455px;
    padding-bottom: 0px;
}
.submit{
    padding-left: 255px;
    padding-bottom: 0px;
  padding-right:0px;
}   
