*{
    padding: 0px;
    margin: 0px;
}
body{
    color:rgb(0, 0, 0);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.sideimage img{
    max-width: 100%;

}
.flex-box{
    display: flex;
    border: 1px solid black;
    border: 2px solid white;
    padding-top: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 
}
.sidebar{
    position:static;
    width: 200px;
    background-color: rgb(255, 0, 128);
    border: 2px solid white;
    height: 660px;
    font-size: 1.85rem;
    padding: 5px;
}
.sidebar li{
    list-style: none;  
    border: 1px solid white;
    text-align: center;
    padding: 18px;


}
.sideimage{
 max-width: 100%;
 border: px solid black;
 margin-left: 5px;
 padding: 10px;
}

.sidebar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:rgb(253, 253, 253);
    font-size: 1.2rem;
    border: px solid white;
    font-weight: lighter;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

img{
    max-width: 100%;
}
.flex-box2{
    display: flex;
    border: 1px solid black;
    padding: 20px; 

}

.flexitems1{
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    height: 350px;
    background: url("https://lh3.googleusercontent.com/n79oKLlnI5_hD4HsYrT7QmIOnQ8cJO9iuDxMDeLTCESCygBvZbHMJCskti5yfGMVR8UEy-25fZ44PCq2fJBKQon1RyuLx7y116TII6FWqp0npi6fxdOKKRYu_MfmrBUT7r_JR4ZBmMLa98njA9L_ZstHVWt4an-RRd9E9-jdowX4rYc1LGMzBLBglzI436UjRFaHtP8MSukozEC3ggselmOOp6JCc9eDWYXnWvd2znmLOwDyGuUANT4ZGFmzPlJlEOcuyd2aYQOs0kFxtlab1J_6D80yQ9ZJVHZAfiRiCUC1KZp46wJbmWolWSg_ZK-64km_QUufr3AhKEVU2A-wt2bQRGu_kcrI8Hse2x-_h8fJ2YP45x0zzw1v9skLNoB8n0odKfs4BXtyPtJmHIto1yggQKHfVwNip8hVYPzRdbfL5EkA8vyF3WrjxNLTYR77QVIj8Nl1mvSPxmnAGx5Vl0i9TLgn5UvL_xI5WOLpeBkAquBGz6lk8-8ivAz8X3L1sDvqSe8izxW0hYMz8lvi0YKnfYl7Y-GmYnGbxbvQWtNG1_5sWTQQEBOr3T5xdbrKZRKmJOj7rw9hUfj6TDpxoa0HXjLL2ts0YWBIiMCPgtqOjDI3Igf77rOsRDtlJ5FxioJkFl-wi_1kocrTQSuoE0JiWUM_eD-e1TcV3PbNe_z3sU1RDnehi29iEYhjdw=w812-h480-no?authuser=0");
    width: 550px;
    background-size: 100% 100%;  
    margin: 8px;
}
.descriptions{
    border: 2px solid black;
    color:red;
    margin-top: 250px;

}


.flexitems1{
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    height: 450px;
    background: url("https://lh3.googleusercontent.com/U-0a5Qjkiroxj39WIa4CIwgDDhmSap7wKqAR7uJgZRLUjp-ztt5EgiLQIqj2JuAfzBPEsXfMkwZ3vJhh8CgQlEzrozWpjs0NqnZNbzaHoXRJKgqLPqsuuAj0Y5V-K8n69R-qxhrlMxhmizaz2ppIrXnY-TG9hMMrP-VvWSvkIhU2_69kjMElhrsD7fPlV0xAbR0vpDPi5LzZaCJ-Wb_sgIDflLgSqltsYVGWKkYPyGQOA29OCRSVVROS22CXHNDXdP8PUXcBwchi9x79-VQ1vrbSAOC0kV6crbhTbczobTmMRY7PAvV7r_7fkIcMqk1FVHyF4ii5YL7OkAt8L07qBISM66loRD0qmA8v39AlezYLH2nkSf6ufuViyIwygl2JRFffyDxWzx9bGuLmhf1EzpDeM-8AvUWQRR80cMQmhxsOoON2I1IL2CH3AUfT17EltNQbhJhUEsyeduz_J9WgAVlEmGq4pWgEZFjmgkT_f7kN8wfdYkwzcR7DCkXzraHm9vqhkGpdRbzMV0Ovk0Gr8S6L7UqpUAET1AERhyIvsLtqPSxlh2C1j_5Jobh9imbXL43pUjfzpEzydU4h3eWgn7zecGiIKqfoj0M0g1Tbgi6SsZq3PKi9XPHkKyjb5V-sLjwIuDWQyS--fyksT8P6i6Ykh9b_cKhVTK_MTaxngsh_CnhQXQN-Wxquz_fjhA=w550-h325-no?authuser=0");
    width: 550px;
    background-size: 100% 100%;  
    margin: 8px;
}
.descriptions{
    border: 2px solid black;
    color:red;
    margin-top: 250px;

}

.flexitems2{
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    height: 450px;
    background: url("https://lh3.googleusercontent.com/n79oKLlnI5_hD4HsYrT7QmIOnQ8cJO9iuDxMDeLTCESCygBvZbHMJCskti5yfGMVR8UEy-25fZ44PCq2fJBKQon1RyuLx7y116TII6FWqp0npi6fxdOKKRYu_MfmrBUT7r_JR4ZBmMLa98njA9L_ZstHVWt4an-RRd9E9-jdowX4rYc1LGMzBLBglzI436UjRFaHtP8MSukozEC3ggselmOOp6JCc9eDWYXnWvd2znmLOwDyGuUANT4ZGFmzPlJlEOcuyd2aYQOs0kFxtlab1J_6D80yQ9ZJVHZAfiRiCUC1KZp46wJbmWolWSg_ZK-64km_QUufr3AhKEVU2A-wt2bQRGu_kcrI8Hse2x-_h8fJ2YP45x0zzw1v9skLNoB8n0odKfs4BXtyPtJmHIto1yggQKHfVwNip8hVYPzRdbfL5EkA8vyF3WrjxNLTYR77QVIj8Nl1mvSPxmnAGx5Vl0i9TLgn5UvL_xI5WOLpeBkAquBGz6lk8-8ivAz8X3L1sDvqSe8izxW0hYMz8lvi0YKnfYl7Y-GmYnGbxbvQWtNG1_5sWTQQEBOr3T5xdbrKZRKmJOj7rw9hUfj6TDpxoa0HXjLL2ts0YWBIiMCPgtqOjDI3Igf77rOsRDtlJ5FxioJkFl-wi_1kocrTQSuoE0JiWUM_eD-e1TcV3PbNe_z3sU1RDnehi29iEYhjdw=w812-h480-no?authuser=0");
    width: 550px;
    background-size: 100% 100%;  
    margin: 8px;
}
.descriptions{
    border: 2px solid black;
    color:red;
    margin-top: 250px;

}

.flexitems3{
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    height: 450px;
    background: url("https://lh3.googleusercontent.com/n79oKLlnI5_hD4HsYrT7QmIOnQ8cJO9iuDxMDeLTCESCygBvZbHMJCskti5yfGMVR8UEy-25fZ44PCq2fJBKQon1RyuLx7y116TII6FWqp0npi6fxdOKKRYu_MfmrBUT7r_JR4ZBmMLa98njA9L_ZstHVWt4an-RRd9E9-jdowX4rYc1LGMzBLBglzI436UjRFaHtP8MSukozEC3ggselmOOp6JCc9eDWYXnWvd2znmLOwDyGuUANT4ZGFmzPlJlEOcuyd2aYQOs0kFxtlab1J_6D80yQ9ZJVHZAfiRiCUC1KZp46wJbmWolWSg_ZK-64km_QUufr3AhKEVU2A-wt2bQRGu_kcrI8Hse2x-_h8fJ2YP45x0zzw1v9skLNoB8n0odKfs4BXtyPtJmHIto1yggQKHfVwNip8hVYPzRdbfL5EkA8vyF3WrjxNLTYR77QVIj8Nl1mvSPxmnAGx5Vl0i9TLgn5UvL_xI5WOLpeBkAquBGz6lk8-8ivAz8X3L1sDvqSe8izxW0hYMz8lvi0YKnfYl7Y-GmYnGbxbvQWtNG1_5sWTQQEBOr3T5xdbrKZRKmJOj7rw9hUfj6TDpxoa0HXjLL2ts0YWBIiMCPgtqOjDI3Igf77rOsRDtlJ5FxioJkFl-wi_1kocrTQSuoE0JiWUM_eD-e1TcV3PbNe_z3sU1RDnehi29iEYhjdw=w812-h480-no?authuser=0");
    width: 550px;
    background-size: 100% 100%;  
    margin: 8px;
}
.descriptions{
    border: 2px solid black;
    color:red;
    margin-top: 250px;

}
.flexitems4{
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    height: 450px;
    background: url("https://lh3.googleusercontent.com/n79oKLlnI5_hD4HsYrT7QmIOnQ8cJO9iuDxMDeLTCESCygBvZbHMJCskti5yfGMVR8UEy-25fZ44PCq2fJBKQon1RyuLx7y116TII6FWqp0npi6fxdOKKRYu_MfmrBUT7r_JR4ZBmMLa98njA9L_ZstHVWt4an-RRd9E9-jdowX4rYc1LGMzBLBglzI436UjRFaHtP8MSukozEC3ggselmOOp6JCc9eDWYXnWvd2znmLOwDyGuUANT4ZGFmzPlJlEOcuyd2aYQOs0kFxtlab1J_6D80yQ9ZJVHZAfiRiCUC1KZp46wJbmWolWSg_ZK-64km_QUufr3AhKEVU2A-wt2bQRGu_kcrI8Hse2x-_h8fJ2YP45x0zzw1v9skLNoB8n0odKfs4BXtyPtJmHIto1yggQKHfVwNip8hVYPzRdbfL5EkA8vyF3WrjxNLTYR77QVIj8Nl1mvSPxmnAGx5Vl0i9TLgn5UvL_xI5WOLpeBkAquBGz6lk8-8ivAz8X3L1sDvqSe8izxW0hYMz8lvi0YKnfYl7Y-GmYnGbxbvQWtNG1_5sWTQQEBOr3T5xdbrKZRKmJOj7rw9hUfj6TDpxoa0HXjLL2ts0YWBIiMCPgtqOjDI3Igf77rOsRDtlJ5FxioJkFl-wi_1kocrTQSuoE0JiWUM_eD-e1TcV3PbNe_z3sU1RDnehi29iEYhjdw=w812-h480-no?authuser=0");
    width: 550px;
    background-size: 100% 100%;  
    margin: 8px;
}
.descriptions{
    border: 2px solid black;
    color:red;
    margin-top: 250px;

}


footer{
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    background:rgb(255, 0, 119) ;

}
footer a{
    text-decoration: none;
}

.header-flex{
    position: fixed;
    width: 100%;	
}


.flexsearchbar{
	background: rgb(255, 0, 106);
	color:rgb(0, 0, 0);
	font-size: 2em;
	border: px solid;
  
  
}
.flexsearchbar input{
    text-align:left;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Searchbox{
	border: 0px solid red;
	width: 48%;
	background: rgb(252, 252, 252);
	color: rgb(8, 8, 8);
	font-size: 18px;
	float:left;
	margin-top: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}

@media only screen and (max-width: 600px){
  .Searchbox{       
        border: px solid rgb(243, 24, 24);
        font-size: 10px;
        margin-top: 20px;  
        width: 80%;
    }
}

.sbtn{
	font-size: 22px;
	background: #ff0000;
	color: rgb(255, 255, 255);
	border: 0px solid rgb(2, 2, 2);
	cursor: pointer;
    margin-top: 9px;	   
}

@media only screen and (max-width: 600px){
    .sbtn{
        font-size: 10px;
        background: #f89500;
        color: white;
        border: px solid grey;
        cursor: pointer;
        margin-top: 20px;
        padding: 0px;	

  }
}






.call{
    color:rgb(255, 255, 255);
	font-size: 0.5em;
	border:px solid white;
    font-family:'Courier New', Courier, monospace;
	font-weight: bold;
    text-decoration: none;
    
}

@media only screen and (max-width: 600px){
    .flexcall{
        margin-top: 14px;
        font-size: 0.5em;
        color:white;
        border: px solid;
        flex-grow: 5;
        font-family:'Courier New', Courier, monospace;
        font-weight: lighter;
        flex-grow: 8;
    }}
 a{
     color:rgb(255, 253, 250);
     font-size: 1.35rem;
 }
 .acc{
    color:rgb(255, 255, 255);
    font-size: 1rem;
    text-decoration: none;
 
    
 }
 .fa-heart{
    color:rgb(255, 255, 255);
    font-size: 0.85rem;
    text-decoration: none;
  
 }
 .fa-cart-plus{
     color:rgb(255, 255, 255);
 }
 
 .explore a{
     text-decoration: none;
     font-size: 2.5rem;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }