*{
	padding: 0;
	margin: 0;
}
body{
	background-color: rgb(243, 243, 243);
}
.headbanner{
	display: flex;
	flex-wrap: wrap;
	background-color: #1d4354;
	border: px solid red;
	height: 70px;
}

.upworklogo{
	margin-left: 120px;
	height: 70px;
	border: px solid rgb(255, 254, 254);
}

.wrapper{
	display: grid;
	border: 1px solid rgb(230, 228, 228);
	background-color: rgb(247, 247, 247);
	margin: 60px 425px;
	padding: 50px;
	border-radius: 5px;
}
/*for mobile screens*/
@media only screen and (max-width: 500px){
	.wrapper{
	display: grid;
	border: 1px solid rgb(230, 228, 228);
	background-color: rgb(247, 247, 247);
	margin: 0px;
	padding: 20px;
	border-radius: 5px;
}
}

/*for tablet screens*/
@media only screen and (max-width: 1024px) and (min-width: 501px){
	.wrapper{
		display: grid;
		border: 1px solid rgb(230, 228, 228);
		background-color: rgb(247, 247, 247);
		margin: 10px 25px;
		padding: 50px;
		border-radius: 5px;
	}
	}
/*for desktop screens*/
@media only screen and (min-width: 1024px){	
.wrapper{
	display: grid;
	border: 1px solid rgb(236, 235, 235);
	background-color: rgb(247, 247, 247);
    margin: 60px 400px;
	padding: 50px;
	border-radius: 5px;
}
	}

h1{
	margin-top: -10px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputbox{
	display: flex;
	border: 1px solid rgb(228, 225, 225);
	border-radius: 5px;
	margin: 0px;
	padding: 0px;	
}

.user{
	border: x solid blue;	
	margin-left: 10px;
	margin-top: 20px;
}


input{
      visibility:visible;
      border: 0px solid rgb(248, 248, 248);
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0.85;
      padding: 8px;
      margin-top: -18px;
	  font-size: 1rem;
	  width: 100%;	
}

.continuebox{
	border: 2px solid;
	cursor: pointer;
	padding: 10px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: rgb(0, 173, 0);
	color:white;
	text-align:center;
	font-weight: 600;
	font-size:1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.continuebox:hover{
	background-color: rgb(0, 128, 0);
	transition: .5s;

}
aside{
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 15px;
	padding: 10px;
	font-size: 0.8em;
	color:rgb(136, 127, 127);
	-bottom: 1px solid black;

}
.signinwithgooglebox{
	border: 2px solid;
	cursor: pointer;
	padding: 10px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: rgba(19, 110, 247, 0.815);
	color:white;
	text-align:center;
	font-weight: 600;
	font-size:1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signinwithapplebox{
	border: 1px solid;
	cursor: pointer;
	padding: 10px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: rgb(250, 255, 250);
	color:rgb(0, 0, 0);
	text-align:center;
	font-weight: 600;
	font-size:1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.signupbox{
	border: 1px solid rgb(231, 226, 226);
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 30px;
	background-color: rgb(250, 255, 250);
	color:rgb(17, 145, 0);
	text-align:center;
	font-weight: 600;
	font-size: 0.9rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signupbox:hover{
	background-color: rgba(255, 255, 255, 0.685);
	color:rgb(14, 124, 0);
}

footer{
	padding: 5px;
	margin-top: 40px;
	text-align: center;
	background-color: #1d4354;
	color:white;
	text-transform: capitalize;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copyright{
	font-size: 0.85em;
	color:white;
	
}
footer li{
	list-style: none;
	margin-bottom: 5px;	
}
footer li a{
	color:white;
	text-decoration: none;
	text-align: center;
	font-weight: 450;
	font-size: 0.9em;

}
footer li a:hover{
	text-decoration: underline;
}