label{
    float: right;
    color:white;
}
.menu{
    background-color: rgb(23, 209, 147);
}

.nav ul li{
    display:inline-block;

}

.nav ul li a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 1.58em;
    color:rgb(252, 252, 252);
    padding: 50px;

  
}
.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  
}
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-size: 35px;
  }
  