body{
    font-family: sans-serif;
    text-transform: capitalize;
}
img{
    max-width: 100%;
}

.nav-header{
    display: inline;
    float: right;
}

.nav-header nav ul li{
    display: inline-block;
    padding: 10px;
}


.nav-header nav ul li a{
    float: right;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
}

.banner{
background: url("https://images.pexels.com/photos/1549194/pexels-photo-1549194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-size: 100% 100%;
height: 600px;
}

h1{
    margin: 0px 15px;
    padding: 20px;
    color:rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 350;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button.shop-now{
color:rgb(255, 255, 255);
font-size: 1rem;
border-radius: 25px;
border: 2px solid salmon;
background-color: salmon;
text-transform: uppercase;
padding: 10px;
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
margin: 25px 35px;
}
.logos1{
    margin-left: px;
}
.logos{
    margin-left: 60px;
    border: px solid black;
}
.shipping{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: px solid;
    padding: 50px;
}

.plants-collections{
    border: x solid;  
}
.free-shipping{
    border: px solid;  
}
.free-shipping-image{
    width: 240px;  
}
.money-back{
    border: px solid;  
}

h2{
    text-align: center;
}
.p-logo{
    text-align: center;
}

.sample-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
.sample1{
    border: px solid;
    height: 400px;
    width: 320px;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/yucca-cane-plant-in-a-pot-on-a-white-background-royalty-free-image-1580856558.jpg");
    background-size: 100% 100%;
}

.sample2{
    border: px solid;
    height: 400px;
    width: 300px;
    background: url("https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1574692511-1566418978368-20190821-1566418982051.jpg");
    background-size: 100% 100%;
}

.sample3{
    border: px solid;
    height: 400px;
    width: 300px;
    background: url("https://balconygardenweb-lhnfx0beomqvnhspx.netdna-ssl.com/wp-content/uploads/2020/08/1.-Bunny-Ear.jpg");
    background-size: 100% 100%;
}
h3{
    font-weight: 500;
    margin-top: 285px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.p-brief-var{
    margin: 0px;
    padding: 0px;
    opacity: 0.7;
    font-size: 0.9rem;
    margin-left: 10px;
    margin-bottom: 20px;
}
a.see{
    color:rgb(255, 0, 0);
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    font-family:sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
}
h4{
    text-align: center;
    font-weight: lighter;
    font-size:3rem;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 0px;
}
.p2{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    opacity: 0.75;
}
.featured-boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    justify-content: space-around;
    align-items: center;

}
.featured-box1{
    width: 250px;
    height: 300px;
    border: px solid;
    background: url("https://websitedemos.net/plant-store-02/wp-content/uploads/sites/410/2019/01/plant3-free-img.jpg");
    background-size: 100% 100%;
    margin-bottom: 20px;
}

.flex-box{
    border: 2px solid rgb(34, 32, 32);
    display: flex;
    width: 200px;
    height: 300px;
    position: cover;
   margin-left: 150px;
}
.sale{
    width: 60px;
    height: 50px;
    background-color:rgb(50, 224, 50);
    border-radius: 50%;
    margin-left: 160px;
    margin-top: -10px;
    position: cover;
}
.sales{
    text-align: center;
    margin-top: 5px;
    position: cover;
    font-size: 23px;
    padding: 5px;
    color:white;
}
.details{
    text-align: left;
    border: 1px solid;
    width: 200px;
    margin-left: 0px;
    margin-top: 250px;
    color:black;
}

.info-part{
   display: flex;
   flex-wrap: wrap;
   border: 1px solid;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

h5{
   margin-left: 5px;
   font-size: 1.25rem;
   margin-top: 0px;
   font-weight: lighter;
}

.call{  
    width: 350px;
    border: px solid;
    margin-top: 20px;
}
.brief{
    width: 800px;
    border: px solid ;
    line-height: 25px;
    opacity: 0.7;
    padding: 30px;
}




.grid-container{
    display:grid;
    border: 2px solid;
    width: auto;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    background-color:rgb(241, 233, 233);

}

.items1{
    background-color:rgb(241, 233, 233);
    border: px solid rgb(17, 15, 15);
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: auto;
}

h6{
    text-transform: capitalize;
    font-family:  sans-serif;
    padding: 10px;
    font-weight: bold;
    font-size:30px;

}
.testimonials{
    font-size: 18px;
    font-weight: lighter;
    padding:10px;
}
.client{
    font-size:14px;
}

.name{
    font-size:1rem;
    color:red;
}

.title{
    font-size:1rem;
}
.items2{
    border: 2px solid rgb(26, 24, 24);
    background-color:rgb(241, 233, 233);
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
.items5{
    margin-top: -100px;
    border: px solid rgb(20, 20, 20);
    display: flex;
    background-color:rgba(241, 240, 233, 0.849);
    flex-wrap: wrap;
    width: auto;
}
.items6{
  
    border: 2px solid rgb(32, 30, 30);
    background-color:rgb(241, 233, 233);
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
figure{
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    width: auto;
    background-color:rgb(241, 233, 233);
}
.p-interested-brief{
    text-align: center;
}
button.go-to-shop{
    display: flex;
    flex-wrap: wrap;
   margin-left: 550px;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
  color:white;
  background-color:salmon;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid salmon;
}
@media only screen and (max-width: 500px){
    button.go-to-shop{
    margin-left: 150px;
}}


.lower-mid-banner{
  margin: 50px 0px;
}


aside.links-head{
    text-align: right;
    border: px solid;
}

.foot-boxes{
    display: flex;
    flex-wrap: wrap;
    border: px solid;
    justify-content: space-between;
    align-items:flex-start;
    margin: 75px 0px;
}
.foot-box1{
    display: flex;
    flex-wrap: wrap;  
    border: px solid;
}
aside.get-touch{
    font-weight: lighter;
    text-align: left;
    opacity: 0.8;
    width: 350px;
    border: 1px solid;
    font-size: 1.75rem;
    margin-left: 25px;
}

p.p-foot-brief{
    opacity: 0.7;
    font-weight: lighter;
    width: 350px;
    font-size: 0.85rem;
    line-height: 25px;
    padding: 10px;
}


.simple-logo-image{
    display: flex;

}
.nav-footer ul li{
    list-style-type: none;
    border: px solid;
}
.nav-footer ul li a{
    text-decoration: none;
    color:black;
    opacity: 0.75;
    font-weight: lighter;
}


aside.links-head{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 35px;
}
.foot-box2{
    display: flex;
    flex-wrap: wrap;  
    border: 1px solid;
}
aside.get-touch2{
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    font-size: 1.2rem;
    line-height: 35px;

}
.nav-footer2 ul li{
    list-style-type: none;
    border: px solid;
}
.nav-footer2 ul li a{
    text-decoration: none;
    color:black;
    opacity: 0.75;
    font-weight: lighter;
}


.foot-notes{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 25px;
}
.copyrights{
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 15px;
}