*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
figure img{
    max-width: 100%;
}
.headings{
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 20px;
}
.navheader nav ul{
    margin-left: 250px;
}
.navheader nav ul li{
    display: inline-block;
    margin: 10px;
  
}
.navheader nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
    font-weight: bold;
}
.navheader nav ul li a:hover{
    text-decoration: underline;
}
.head-aside{
    font-size: 20px;
    font-weight: lighter;
    border: px solid black;
    padding: 5px;
}
h2{
    text-align: center;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    border: px solid black;
    padding: 20px;
}

.headaside{
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    border: px solid black;
    font-weight:500;
    margin: 40px;

}
.image1{
    float:right;
    padding-top: 30px;
    padding-right: 30px;
}
.firstparagraph{
    font-size: 20px;
    padding: 40px;
    border: px solid black;
    line-height: 40px;
    margin-left: 40px;
    width: 50%;
    
}

h3{
    text-transform: capitalize;
    margin-left: 85px;
  padding-top: 20px;
  border: px solid black;
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  
}
.image2{
    border: 2px solid black;
    float: right;
}
.secondparagraph{
    text-transform: capitalize;
    font-size: 20px;
    padding: 90px;
    border: 2px solid black;
   

}
.mid-image{
    border: 2px solid black;
    background: url("https://images.pexels.com/photos/872891/pexels-photo-872891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    margin-top: 50px;
  
}

h6{
    color:white;
    padding-top: 40px;
    font-size: 25px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.view-blog{
    background-color: green;

    border: 1px solid green;
    color:white;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.view-blog:hover{
    background-color:rgb(0, 160, 0);
}

.viewmore{
    font-size: 20px;
    border: 2px solid;
    background-color: rgb(19, 218, 36);
    color:white;
    padding: 10px;
    margin-top: 20px;
}
.viewmore:hover{
    background-color:rgb(32, 204, 32);
}
.review{
    display:flex;
    font-size: 20px;
    padding: 90px;
    border: px solid black;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    background-color: rgb(233, 232, 230);
}
.items1{
    border: px solid black;  
    font-size: 20px; 
    color:green;
    text-transform: capitalize;

}
.price1{
font-weight: bold;
margin-left: 90px;

}
.validity{
    margin-left: 40px;  
}

.readmore{
    float: center;
    margin-left: 60px;
    background-color: green;
    border: 1px solid green;
    color:white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    text-transform: capitalize;   
}
.readmore:hover{
    background-color: rgba(33, 160, 33, 0.925);
}
.items2{
    border: px solid black;  
    font-size: 20px; 
    text-transform: capitalize;

}

.price1{
    font-weight: bold;
    margin-left: 90px;
    
    }
 .validity{
        margin-left: 40px;  
    }

.read-more{
        float: center;
        margin-left: 60px;
        background-color: rgba(0, 0, 0, 0.89);
        border: 1px solid rgb(18, 19, 18);
        color:white;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 5px;
        text-transform: capitalize;
        
    }
    .read-more:hover{
        background-color: rgba(65, 63, 63, 0.938);
    }
.items3{
    border: px solid rgb(0, 0, 0);  
    font-size: 20px; 
    text-transform: capitalize;


}
.foot-boxes{
    display:flex;
    font-weight: lighter;
    padding: 40px;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(17, 17, 17);
    color:white;
    text-transform: capitalize;
}

.foot-box1{
    border: px solid rgb(241, 232, 232);  
    font-size: 15px; 
    width: 60%;

}
.foot-aside1{
    padding-top: 50px;
}
.foot-box2{
    border: px solid rgb(252, 252, 252);  
    font-size: 18px;  
    width: 70%; 
    margin-top: 20px;
    margin-left: 10px;
}
.foot-aside2{
    padding-top: 30px;
    cursor:pointer;
}

.foot-box3{
    border: px solid rgb(245, 241, 241);  
    font-size: 20px;  
    width: 50%;   
    margin-top: 50px;
    margin-left: 10px; 
}

h5{
    font-size: 20px;
}
.banner{
    margin-top: 25px;
}