img{
    height: auto;
    max-width: 100%;
    padding: 0 auto;
   
}


 header nav{
  background-color: rgba(0, 2, 7, 0.788);
    }


 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color:rgb(17, 0, 255) ;
    line-height: 75px; 
}


li{
    display: inline;
    margin: 80px;
}

@media(max-width: 800px){
    h1,h2{
      margin: auto;
      font-size: 20px;
   
    } 
  }
  
@media(max-width: 800px){
  a,li{
    margin: 5px;
    font-size: 10px;
    line-height: 20px;
  } 
}

a:hover{
    color:rgb(253, 253, 253);
}
header nav:hover{
  background-color: rgba(128, 255, 0, 0.856);  
  
}


h1{
    text-align: center;
    color:blue;
}
h2{
    text-align: center;
    color:blue;
}
body{
    background-color: rgb(41, 39, 39);
}
.a{
color:rgb(0, 38, 255);
font-size:25px;
text-decoration: none;
}
.b{
    color:rgb(0, 38, 255);
    font-size:25px;
    text-decoration: none;
    }
    .fig1{
        margin-left: 450px;
        }
    .fig2{
        
        margin-left: 20px;
    }
    .fig3{
        margin-left: 10px;
    }
    .c{
        color:rgb(0, 38, 255);
        font-size:25px;
        text-decoration: none;
    }
@media (max-width: 800px){
    .a, .b, .c{

        font-size: 15px;
        margin-left: 0px;
       
    }
}
@media (max-width: 800px){
    .fig1, .fig2, .fig3{
        margin-left: 5px;
        height: 10px;
        width: 10px;
    }
}
@media (max-width: 800px){
.fig3{
    margin-left: 0px;
    height: 7px;
    width: 7px;
}}
@media (max-width: 800px){
    h2{
        font-size: 15px;
    }
}

