/*img for media screen */
img{
    height: auto;
    max-width: 100%;
    padding: 0 auto;
}
/*heading section*/
 header nav{
  background-color: rgba(255, 192, 2, 0.788);
    }

 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color:rgb(17, 0, 255) ;
    line-height: 45px; 
}


li{
    display: inline;
    margin: 60px;

}

@media(max-width: 800px){
  a,li{
    margin: 1px;
    line-height:30px;
    font-size: 15px;

  } 
}

a:hover{
    color:rgb(253, 253, 253);
}
header nav:hover{
  background-color: rgba(128, 255, 0, 0.856);  
  
}


/*table section*/
table{
  height: 150px;
  border: 2px solid;
  width: 800px;
  color:rgb(0, 252, 76);
}

th{
  height: 20px;
  border: 2px solid;
  width: 800px;
  color:rgb(17, 0, 255);
}

td{
  border: 2px solid;
  text-align:center;
  color:rgb(0, 132, 255);
  font-family:cursive;

}


@media(max-width: 800px){
 table,th,td{
  width: auto;
  margin-left: auto;
  text-align: center;
 } 
}
 
.a{
  color:red;
}


/*h1 & paragraphs section*/
p{
  font-size: 1.5em;
  color:brown;
 word-spacing: 15px;
 font-family:cursive;
}

h1:hover{
  color:red;
  cursor: pointer;

}
@media(max-width: 800px){
  h1,p{
 font-size: 1em;
 word-spacing: 5px;
  }
}


/*figure section*/
.fig1{
float: right;
margin:10 10px;
height: 510px;
}

@media(max-width: 800px){
  .fig1{
    height: 305px;
  }
}


.fig2{
  float: right;
  margin: 10 10px;
  }

  .fig3{
margin: 10px 100px;
    }

    @media(max-width: 800px){
      .fig3{
        margin: 0 auto;
      }
    }


/*foot section*/
  footer{
    background-color:black ;
    margin-top: 5px;
}
@media(max-width: 800px){
  footer{
    margin: 0 auto;
  }
}