.grid-container{
  display: grid;
  width: 1060px;
  height: 350px;
  
  float: center;
  grid-template-columns: auto auto auto;
margin-left: 80px;
}
.grid-items1{
  display:grid ;
  width: 350px;
  height: 350px;
  border: 2px solid rgb(4, 0, 255);
}
.grid-items2{
  display: grid;
  width: 350px;
  height: 350px;
  border: 2px solid rgb(9, 255, 0);

}
.grid-items3{
  display: grid;
  width: 350px;
  height: 350px;
  border: 2px solid rgb(255, 81, 0);

}
.grid-items1:hover{
  transform: scale(1.1);
}
.grid-items3:hover{
  transform: scale(1.1);
}
@media (max-width: 800px){
  .grid-container,.vid1,.vid2,.vid3,.grid-items1,.grid-items2,.grid-items3{
    display: grid;
    width:50px;
    height: 150px;
    float: left;
    grid-template-columns: auto auto auto;
  margin-left: 0px;
  }
}